button {
    display:none;
    background-color: #27b1fb;
    margin-left: 20px;
    margin-top: 50px;
    border: none;
    color: white;
    text-decoration: none;
    border-radius: 2px;
}
button.visible {
    display: block;
}

#world-button {
    font-size: 16px;
    position:absolute; left:300px; top:155px;
}
#pay-button {
    font-size: 20px;
    position:absolute; left:100px; top:143px;
}
#toast {
    font-size: 98px;
    position:absolute; left:398px; top:250px;
}

#forward {
    font-size: 18px;
    position:absolute; left:975px; top:475px;
}
#grad1 {
  height: 200px;
  background-image: linear-gradient(to green, blue, yellow);
}
body {
    background-color: aquamarine;
    margin: 0;
}
#wrapper {
    display: flex;
    margin-left: 126.5px;
    border: 1px solid red;
}
h1 {
    font-family: 'Anton', sans-serif;
    font-size: 60px;
    text-align: center;
}
.main-button {
    position: relative;
    top: -450px;
    left: 440px;
    background-color: #27b1fb; /* Green */
    border: none;
    color: white;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    display: none;
    border-radius: 2px;

}
.visible {
    display: block;
}


@media only screen and (orientation:landscape){
    #wrapper {width:1024px}
    }



